 @font-face {
    font-family: "DroidSans";
    src: url("../../fonts/DroidSans.ttf")
}


.TimerBlock{
    width: 300px;
    height: 150px;
    background: #151515;
    border-radius: 36px;
    position: relative;
    margin: 20px auto;
    .TimerSpan{
        color: #FFFFFF;
        position: absolute;
        bottom: 5px;
        left: 45%;
        font-family: "DroidSans";
        font-weight: 700;
        font-size: 1.25rem;
        width: 3.125rem;
    }
}