<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
=======
*{
    margin: 0;
    padding: 0;
>>>>>>> 122d8edc733b352324a802db9463bb37c5cdfb6e
}